<% if flash.has?(:message) %>
<p style="color:red;"><%= flash[:message] %> </p>
<% end %>

<h2>Please Create an Account by Signing Up Below</h2>

<form action="/users" method="POST">
	<input type="text" name="username" placeholder="Username:" style="margin-bottom:4px;height:15px;width:160px;"><br/>
	<input type="email" name="email" placeholder="Email:" style="margin-bottom:4px;height:15px;width:160px;"><br/>
	<input type="password" name="password" placeholder="Password:" style="margin-bottom:4px;height:15px;width:160px;"><br/>
	<input type="submit" value="Sign Up" class="button">
</form><br>

<p>Already have an account with us?</p>

<p>Please login below</p>

<a href="/login" class="button">Login</a>