<% if flash.has?(:message) %>
<p style="color:red;"><%= flash[:message] %> </p>
<% end %>

<h2>Please Create an Account By Signing Up Below</h2>

<form action="/users" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="email" name="email" placeholder="Email:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
</form><br>

<p>Already have an account with us?</p>

<p>Please login below</p>

<a href="/login" class="button">Login</a>