<div class="welcome">
    <h2>Welcome to the Wine Journal App!</h2><br>
    <h3>If you're like us, you have enjoyed many great wines but never had a good way of keeping track of them.</h3><br>
    <h4>We created the Wine Journal App as a way to solve this problem!</h4><br><br>
    <p>The Wine Journal App lets you record details of your favorite wines such as name, region, varietal, price and more! Keep track of all the wines you have enjoyed at restaurants, weddings, parties and at home in one place!</p><br><br>
    <h4>Please sign up below to create an account so you never forget your favorite wines again!</h4><br>
    <h4>If you are already a member, please login</h4><br>
    <p><a href="/signup" class="button">Sign Up</a>   or   <a href="/login" class="button">Log In</a></p>
</div>