<h1>Add a Wine You Really Enjoyed!</h1><br>

<form action="/wines" method="POST">
  <label>Name:</label><br>
  <input style="width: 250px;" type="text" name="wine_name" placeholder="Where is the wine from?"> <br><br>
  <label>Type:</label><br>
  <input style="width: 250px;" type="text" name="type" placeholder="Red? White? Rose? Sparking?..."> </br><br>
  <label>Varietal:</label><br>
  <input style="width: 250px;" type="text" name="varietal" placeholder="Pinot Noir? Melot? Chardonnay?"> </br><br>
  <label>Region:</label><br>
  <input style="width: 250px;" type="text" name="region" placeholder="Burgandy? Napa? Tuscany?"> </br><br>
  <label>Year:</label><br>
  <input style="width: 250px;" type="text" name="year" placeholder="When was it produced?"> </br><br>
  <label>Price:</label><br>
  <input style="width: 250px;" type="text" name="price" placeholder="How much did you pay?"> </br><br>
  <label>Tasting Notes:</label><br>
  <input style="width: 250px;" type="text" name="tasting_notes" placeholder="What did you like about it?"> <br><br>
  <input class="button" type="submit" value="Create New Wine!">
</form>

