<h1>Add a New Wine</h1>

<form action="/wines" method="POST">
  <label>Name</label>
  <input type="text" name="wine_name"> </br>
  <label>Type</label>
  <input type="text" name="type"> </br>
  label>Varietal</label>
  <input type="text" name="varietal"> </br>
  label>Region</label>
  <input type="text" name="region"> </br>
  label>Year</label>
  <input type="text" name="year"> </br>
  label>Price</label>
  <input type="text" name="price"> </br>
  label>Tasting Notes</label>
  <input type="text" name="tasting_notes"> </br>
  <input type="submit" value="Create">
</form>

